/* Checkout Title */
.checkout-title{
    font-size: 2.5rem;
    font-weight: 700;
}
.checkout-tab{
    display: flex;
    flex-direction: row;
}
.checkout-tab-item{
    padding-right: 10px;
}
/* Checkout Title Bar */
.circle {
    display: flex;
    width: 20px;
    height: 20px;
    background-color: #d3d3d3;
    border-radius: 50%;
}
.text {
    margin: auto;
    color: white;
    font-size: 10px;
}

  .menu-item{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width:100%
  }
  .menu-txt{
    padding-left: 6px;
  }
  .menu{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
  }
  .bg-orange {
    background-color: rgb(246 71 13);
  }
  .text-orange {
    color: rgb(246 71 13);
  }

  .bg-gray-900{
    --tw-bg-opacity: 1;
    background-color: rgb(246 71 13);
  }
  .font-extrabold {
    font-weight: 800;
    color: rgb(246 71 13);
}
.wrap{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex-basis: 65%;
    justify-content: space-evenly;
    align-items: stretch;
}
.total-amount{
  height:min-content;
}
.lg\:flex-row {
  background: #FAFAFA;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 2rem;
}
.patient-service{
  margin: 0;
  margin-right: 1rem;
  position: relative;
}
.box-size{
  width:300px;
}

.bold{
  font-weight: 800;
}

/* Checkout Title Bar */

.title-bar-line{
  width:5vw;
  background-color: #d3d3d3;
  margin-left:10px;
  height:3px;
  border-radius: 5px;
}
/* Third - Party */
.agreement-box{
  height:50%;
}

/* Button */
.back-btn{
  background-color: white;
  color: #999693;
  border : 2px solid #999693

}

.border-range-600{
  border-color:#FF681E;
  opacity: 1;
}
.text-range-400{
  color:#FF681E;
}
.checkout-card-height{
  height:100vh;
}
@media (max-width: 768px){
  .checkout-card-height{
    height:135vh
  }
}
